# Arduino
*.elf
*.hex
*.bin
*.lock
*.v2
build/
nbproject/

# OS
Thumbs.db
.DS_Store

# Editor
.vscode/
*.swp

# Proteus & Simulation (All Excluded)
*.pdsprj
*.pdsprj.*
*.workspace
*.PWI
*.log
Project Backups/
Last Loaded *.pdsprj

Projects_we_made/
